* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --deep-dark: rgb(26, 26, 26);
  --light-dark: rgb(79, 82, 92);
  --light-blue: rgb(0, 132, 255);
  --white-blue: rgb(81, 171, 255);
  --light: rgb(245, 245, 245);
  --gradient: linear-gradient(340deg, #045de9 0%, #09c6f9 100%);
}

.underline {
  width: 100%;
  height: 0.5px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.356);
}

body {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  background-color: var(--light);
  color: var(--light);
}

.todo {
  width: 300px;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
  padding: 2rem 3rem 3rem;
  background-color: #0071ce;
}

.headerTitle {
  color: var(--light);
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 2px;
}

.headerTitle p {
  font-size: 1.1rem;
  padding: 10px 0;
}

.todoList {
  padding: 40px 0 60px;
}

.todoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1rem;
  list-style: none;
  background-color: rgba(245, 245, 245, 0.041);
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.tools button {
  padding: 15px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tools button:hover {
  background-color: var(--light);
}

.complete {
  color: rgb(0, 27, 179);
}

.edit {
  font-weight: bold;
  color: rgb(15, 179, 69);
}

.delete {
  color: tomato;
}

.completed {
  font-size: 12px;
  color: var(--light-dark);
  text-decoration: line-through;
  font-style: italic;
}

.icoCompleted {
  color: var(--light-dark);
}

.addInfo {
  color: var(--light);
}

.todoInput {
  width: 80%;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  color: var(--light-dark);
  background-color: var(--light);
}

.addBtn {
  padding: 10px 22px;
  margin: 12px 0;
  border: none;
  border-radius: 5px;
  color: var(--deep-dark);
  background-color: var(--light);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.addBtn:hover {
  color: #fff;
  background-color: var(--light-dark);
}

.emptyInpErr {
  display: none;
  text-align: center;
  color: rgb(250, 0, 0);
  text-shadow: 2px 2px 1px #000;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  color: var(--light);
  background-color: var(--light-dark);
  border-radius: 5px;
}

.popup h3 {
  padding: 20px;
}

.popupInfo {
  color: var(--light);
  margin-bottom: 20px;
}

.popupBody {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 10px;
}

.popupInput {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  color: var(--light-dark);
  background-color: var(--light);
}

.popupBtn {
  width: 50%;
  display: inline-block;
  padding: 10px 22px;
  margin: 15px 0px 0px 5px;
  border: none;
  border-radius: 5px;
  color: var(--deep-dark);
  background-color: var(--light);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.popupBtn:hover {
  color: #fff;
  background-color: var(--deep-dark);
}
